#helvetica{
    font-family: helvetica
    ;
}
#arial{
        font-family: arial;

}
#serif{
        font-family:serif;

}
#sans-serif{
        font-family:sans-serif;

}
#cursive{
        font-family: cursive;

}
#monospace{
        font-family:monospace;

}
#fantasy{
        font-family:fantasy;

}
#family{
    font-family: 'Architects Daughter';
}
